In [1]:
#Importing modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Loading the data
data=pd.read_csv("Social_Network_Ads.csv")

In [3]:
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [4]:
data.isnull().sum()

Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [5]:
#Separating target variable and predictors
y=data.Purchased
x=data[["Age","EstimatedSalary"]]
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [6]:
#Splititng data  into training data and testing data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.75,test_size=0.25)
x_train.head()

     Age  EstimatedSalary
223   60           102000
394   39            59000
344   47           105000
352   42            90000
256   41            72000

In [7]:
len(x_train)

300

In [8]:
len(y_train)

300

In [9]:
len(x_test)

100

In [10]:
len(y_test)

100

In [13]:
#Feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = pd.DataFrame(sc.fit_transform(x_train))
x_test = pd.DataFrame(sc.transform(x_test))

In [14]:
x_train.columns=["Age","EstimatedSalary"]
x_test.columns=["Age","EstimatedSalary"]

In [15]:
#Define the model and train it.
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression(random_state=0)
classifier.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [16]:
#Predicting results:
pred=classifier.predict(x_test)
pred

array([1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0], dtype=int64)

In [17]:
preddf=pd.DataFrame({"Actual":y_test,"Predicted":pred})
preddf

     Actual  Predicted
277       1          1
157       0          0
265       1          1
249       1          0
369       1          1
..      ...        ...
195       0          0
284       0          1
75        1          0
289       1          0
109       0          0

[100 rows x 2 columns]

In [18]:
#Making a confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,pred)

array([[56,  3],
       [13, 28]], dtype=int64)

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)

0.84