In [1]:
#Importing the modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Importing the data
data=pd.read_csv("Social_Network_Ads.csv")
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [3]:
#Spliting the dependent and independent varaibles
x=data.iloc[:,:-1]
y=data.Purchased

In [4]:
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [5]:
#Spliting the data in testing and training data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.75,test_size=0.25)

In [6]:
x_train.head()

     Age  EstimatedSalary
240   42           149000
276   38            71000
107   27            89000
84    30            62000
398   36            33000

In [7]:
#Feature scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=pd.DataFrame(sc.fit_transform(x_train))
x_test=pd.DataFrame(sc.transform(x_test))

In [11]:
x_train.shape

(300, 2)

In [13]:
#Importing model and training it
from sklearn.naive_bayes import GaussianNB
classifier=GaussianNB()
classifier.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [15]:
#Making prediction
pred=classifier.predict(x_test)
pred

array([0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0], dtype=int64)

In [16]:
#Checking the accuracy and confusion matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
acc_score=accuracy_score(y_test,pred)
cm=confusion_matrix(y_test,pred)
print(acc_score)
print(cm)

0.87
[[58  8]
 [ 5 29]]